/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./Fonts/montserrat-v31-latin-regular.woff2') format('woff2');
}

/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./Fonts/montserrat-v31-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('./Fonts/lato-v25-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.navbar {
  height: 90px;
  background: linear-gradient(45deg, #ff4b2b, #ff416c);
  ;
}

.navbar-brand,
.navbar-brand i {
  color: white;
}

.navbar-brand i {
  font-size: 30px;
  margin-right: 15px;
}

.main {
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff8f0;
  ;
}

.header {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: visible;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 2;
}

.content {
  margin-top: 45px;
}

.logo {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.logo img {
  width: 60%;
}

.content h1 {
  color: #ff4b2b;
  font-weight: 700;
  font-family: 'Montserrat';
  font-weight: 700;
}

.content p strong {
  color: #ff416c;
  font-size: 21px;
  font-family: 'Montserrat';
  font-weight: 700;
}

.content p {
  color: #333;
  line-height: 1.6;
  text-align: justify;
  font-size: 19px;
  font-family: 'Montserrat';
  font-weight: 400;
}

.card {
  background-color: #fff8f0;
  border: 1px solid #ff6f3c;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   transition: transform 0.2s, box-shadow 0.2s;
}

.card-warenkorb {
  min-height: 570px;

  
}

.card-title-warenkorb {
  color: #ff4b2b;
  font-weight: 700;
  font-family: 'Montserrat';
  font-weight: 700;
  margin-top: 15px;
}

#card-body {
  max-height: 500px;
}

#card-body p {
  font-family: 'Lato' !important;
  font-weight: 400;
}

.card:hover {
 /* transform: translateY(-4px); */
 /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);*/
}
.card-hover:hover{
 transform: translateY(-4px); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-header {
  background-color: #ff6f3c;
  color: white;
  border-bottom: none;
}

.card-header-title {
  font-family: 'Montserrat';
  font-weight: 400;
}

.card-text {
  color: #ff6f3c;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 700;
}

.card-title {
  margin-top: 15px;
  font-family: 'Montserrat';
  font-weight: 400;
}

.card-warenkorb-text {
  text-align: center;
  font-size: 20px;

}

button {
  background: white;
  border: none;
  color: #ff6f3c;
}

button:hover {
  color: #e03e1b;
}

.menu-title-div {
  display: flex;
  align-items: center;
  background-color: #FF4266;
  padding: 10px 10px;
  margin-bottom: 15px;
  margin-top: 50px;
}

.bi-basket-fill,
.menu-title {
  color: white
}

.menu-title {
  padding-top: 10px;
  font-family: 'Montserrat';
  font-weight: 700;
}

.bi-basket-fill {
  font-size: 25px;
  margin-right: 10px;
}

.Rechner {
  max-width: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Rechner-info {
  display: flex;
  justify-content: space-between;
}

#orderKorb {
  position: sticky;
  top: 20px;
  align-self: flex-start;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  
}



.place-order {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

/* Footer */
.footer {
  display: flex;
  align-items: center;
  height: 90px;
  background: linear-gradient(45deg, #ff4b2b, #ff416c);
}

.footer-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container-fluid {
  max-width: 1440px;
  width: 100%;
}

section.container {
  display: flex;
  align-items: flex-start;
}

.row {
  display: flex;
  width: 100%;
}

#col {
  flex: 1;
}

.card-toggle {
  display: block !important;
}

.col-toggle {
  display: none !important;/
}

/* Media Screen  */
@media screen and (min-width:992px) {
  #col {
    display: block !important;
  }
}

@media screen and (max-width:992px) {
  #orderKorb .card {
    display: none;/
  }
  .card-warenkorb {
    margin-top: 15px;
  }

  .content {
    margin-top: 60px;
  }
   #col {
    overflow-y: auto; 
    max-height: 100vh;
  }

  section.container {
    display: flex;
    justify-content: center;
  }
    .orderButton-sticky {
    position: sticky;
    bottom: 0;
    z-index: 999;
    padding-top: 10px;
  }
}

@media screen and (max-width:400px) {
  .card-title {
    font-size: 15px;
  }

  .card-header-title {
    font-size: 17px;
  }

  .content p {
    font-size: 15px;
  }

  .content p strong {
    font-size: 17px;
  }

  .card-text {
    font-size: 17px;
  }

  .navbar-brand i {
    margin-right: 5px;
  }
}

@media screen and (max-width:370px) {
  .toast {
    max-width: 300px !important;
    width: 100%;
  }
}